<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <br>
  <br>
  <h1 style="color: #4485b8; text-align: center; font-size: 30px">🐤Inspired Daily</h1>
  <p style="text-align: center;">Your Daily Source of Wisdom</p>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="center">
      <p style="text-align: center; font-style: bold; font-size: 50px">{{quote}}</p>
      <p style="text-align: center; font-style: italic; font-size: 30px">{{author}}</p>
    </div>
  </div>
    <br>
  <br>
  <br>
  <p style="text-align: center;"><em>&copy; inspired-daily.com</em></p>
  <footer>
  </footer>  
</body>
</html>





